*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}

.login-box{
    padding: 30px 10px;
    margin: 100px auto;
    width: 300px;
    background-color: #37d64d;
}
.kakao-btn{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}
.kakao-logo{
    width: 15%;
}
.kakao-logo img{
    width: 100%;
    display: block;
}
.login-text{
    width: 80%;
}
.or-text{
    text-align: center;
    margin: 13px auto;
}
.form_wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.form_wrap input{
padding: 10px;
}
.login-btn{
    padding: 10px;
    color: #fff;
    background-color: #333;
    font-weight: bold;
}
.forgot{
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-top: 8px
}
